<h1>Leaderboard</h1>
<table>
<% @entries.each do |e| %>
  <tr>
    <td><%= e.owner %>/<%= e.name %></td>
    <td><%= e.highscore %></td>
    <td><%= ((e.highscore.to_f / 4788.0) * 100).to_s[0, 6] %></td>
  </tr>
<% end %>
</table>