<div class="span-21" id="welcome">
  <h1>Register for the GitHub Contest</h1>
  <p></p>
</div>

<div class="span-2">
  &nbsp;
</div>

<div class="span-17">
  <h2>How to Register</h2>
  <p>To register for the GitHub contest, all you have to do is put your code
  and result file into a GitHub repository and then add this site (http://www.githubcontest.com)
  as a post-receive hook.</p>
  
  <p>The first time you push to it, we will register your project and look
  for a <code>results.txt</code> file to grade.  After that, everytime you
  push to it we will just grade the results file.  Your highest score will
  be kept on <a href="/leaderboard">the leaderboard</a>.</p>

  <h2>How to Create a GitHub Account</h2>
  <p>
    If you don't have a GitHub account, you can create one for free 
    at <a href="http://github.com/signup/free">http://github.com/signup/free</a>.
    If you are unfamiliar with Git, you can learn the basics at
    <a href="http://learn.github.com/">http://learn.github.com</a>.
  </p>
    
  <h2>How to Add A Post-Receive Hook</h2>
  <p>If you have never added a post-receive hook to GitHub, the basics are to
    go to the 'Admin' tab on the repository you have created (1), click on
    the 'Service Hooks' subtab (2) and then enter 'http://githubcontest.com' (3)
    and hit the 'Update Settings' button.
    
    <img width="600px" src="http://img.skitch.com/20090629-ng1mg1t7pi6q92772hped9wsuh.png">
  </p>
  
  <h2>The Rules</h2>
  <p>By entering this contest, you agree to these rules:</p>
  <ul>
    <li> All the code used to generate your <code>results.txt</code> file must be included in your repository
      and must be licenced under a <a href="http://www.opensource.org/licenses">OSI compatible license</a>.
    <li> GitHub must be allowed to use the code commercially without restriction, regardless of the license choosen.
    <li> It is technically possible to guess who the users are in our system and figure out what we
      have removed - this dataset is already basically public via our API - doing this will disqualify your entry.
  </ul>
  
  
</div>

<div class="span-2 last">
  &nbsp;
</div>